.center {
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex-ai-c {
  display: flex;
  align-items: center;
}
.flex-ac-c {
  display: flex;
  align-content: center;
}
.flex-fc-ai-c {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.flex-fc {
  display: flex;
  flex-flow: column;
}

.utils {
  &__button {
    background-color: orangered;
    padding: 8px;
    border-radius: 50px;
    font-size: 1.6rem;
    text-align: center;
    width: 150px;
    margin-top: 50px;
    align-self: center;
    cursor: pointer;

    @include media("<=phone") {
      padding: 5px;
      font-size: 1.2rem;
      width: 100px;
      margin-left: 1rem;
    }
  }
}
