.Cinema {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8%;

  @include media("<=phone") {
    width: 80%;
  }

  &__container {
    perspective: 500px;
    @include media("<=phone") {
      width: 90%;
    }
  }

  &__info {
    background: slategray !important;
    padding: 5px;
    margin: 0;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 10px;

    @include media("<=phone") {
      margin-left: 5rem;
      margin-top: 3rem;
    }
    @include media("<=phonesmall-2") {
      margin-left: 1rem;
    }

    &__selected {
      .info {
        background: orangered;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        border: orangered;
      }
    }
  }

  &__Screen {
    height: 100px;
    background: rgba(196, 190, 190, 0.164);
    transform: rotateX(-75deg) scale(1);
    box-shadow: 0 0px 2px 2px;
    width: 100%;
    margin-right: 20%;
    @include media("<=phone") {
      width: 100%;
      margin-left: 12%;
      height: 90px;
    }
    @include media("<=phonesmall-2") {
      height: 80px;
    }

    &:hover {
      background: rgb(212, 205, 205);
    }
  }

  &__Seats {
    display: grid;

    align-items: center;
    grid-template-columns: repeat(12, min-content);
    grid-gap: 3px;

    margin-top: 10%;
    width: 50%;
    @include media("<=phone") {
      width: 60%;
      grid-template-columns: repeat(7, 53px);

      grid-gap: 2px;
    }
    @include media("<=phonesmall") {
      grid-template-columns: repeat(6, 55px);
      margin-left: 3px;
    }
    @include media("<=phonesmall-2") {
      grid-template-columns: repeat(5, 55px);
    }
  }
  &__Seat {
    width: 30px;
    height: 30px;
    background: rgba(196, 190, 190, 0.164);
    border-radius: 4px 4px 8px 8px;
    position: relative;
    border: 1px solid #fff;
    margin: 5px;
    background: linear-gradient(
      rgba(196, 190, 190, 0.164) 70%,
      #000 8%,
      rgba(196, 190, 190, 0.164) 77%
    );
    display: inline-block;

    &::after,
    &::before {
      content: "";
      display: block;
      width: calc(44px / 6);
      height: calc(44px / 3);
      position: absolute;
      background: #fff;
      border-radius: 4px;
      border: 1px solid #000;
    }

    &::before {
      right: 25px;
    }
    &::after {
      left: 25px;
    }

    &--3 {
      width: 20px;
      height: 20px;

      &::before {
        right: 15px;
      }
      &::after {
        left: 15px;
      }
      &::after,
      &::before {
        content: "";
        display: block;
        width: calc(34px / 6);
        height: calc(34px / 3);
        position: absolute;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #000;
      }
    }

    &:nth-of-type(12n + 2) {
      margin-right: 25px;
    }
    &:nth-of-type(12n + 10) {
      margin-right: 25px;
    }

    @include media("<=phone") {
    }

    &--selected {
      background: linear-gradient(#fff 80%, #fff, 0, #cc1f2f 100%);

      &::after {
        background: #626262 !important;
      }
      &::before {
        background: #626262 !important;
      }
      &--1 {
        width: 20px;
        height: 20px;

        &::before {
          right: 15px;
        }
        &::after {
          left: 15px;
        }
        &::after,
        &::before {
          content: "";
          display: block;
          width: calc(34px / 6);
          height: calc(34px / 3);
          position: absolute;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #000;
        }
      }
    }

    &--occupied {
      background-color: tomato;

      &--2 {
        width: 20px;
        height: 20px;

        &::before {
          right: 15px;
        }
        &::after {
          left: 15px;
        }
        &::after,
        &::before {
          content: "";
          display: block;
          width: calc(34px / 6);
          height: calc(34px / 3);
          position: absolute;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #000;
        }
      }
    }
  }
}
