.header {
  width: 100%;
  padding: 2.2em;

  &__container {
    max-width: 1440px;
    min-width: 300px;
    padding: 0 2em;
    flex-wrap: wrap;
    justify-content: space-between;

    &--center {
      margin: 0 auto;
    }
  }

  &__logo {
    &__image {
      width: 50px;
      margin-right: 0.5em;
    }
    &__heading {
      font-size: 2.5rem;
      letter-spacing: 0.4rem;
    }
  }

  &__nav {
    margin-left: 5em;

    &__list {
      li {
        list-style: none;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        margin-right: 5em;
        font-size: 1.8rem;
        color: $white;
        font-family: "Nunito";
        letter-spacing: 0.2em;
        position: relative;
      }
    }
    &-span {
      background-color: orangered;
      border-radius: 50px;
      width: 20px;
      height: 20px;
      display: flex;

      justify-content: center;
      font-size: 1.5rem;
      position: absolute;
      right: 70px;
      bottom: 5px;
      &--mob {
        right: -3px;
        bottom: 15px;
        text-align: center;
      }
    }
  }

  &__search {
    font-size: 1.5rem;
    margin-top: 0.5em;
    &-icon {
      display: none;
    }
  }

  .click-span {
    text-decoration: none;
    margin-right: 5em;
    font-size: 1.8rem;
    color: $white;
    font-family: "Nunito";
    letter-spacing: 0.2em;
    position: relative;
  }
}
