.row {
  margin-top: 2%;

  &__movies {
    display: flex;
    align-items: center;

    overflow-y: hidden;
    overflow-x: scroll;

    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      padding: 5px;
      display: none;
    }
  }

  &__imgcontainer {
    img {
      transition: transform 0.5s;
    }
    img:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 1.5%;

    &--2 {
      margin-bottom: 0.5%;
    }
  }

  &__textwrapper {
    margin-left: 25px;

    h2 {
      letter-spacing: 0.9rem;
      text-transform: uppercase;
      font-size: 3rem;
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 0.3rem;
      padding: 2px;
    }
    &--span1 {
      color: red;
      font-size: 1.6rem;
    }
    &--span2 {
      color: rgb(25, 46, 235);
      font-size: 1.6rem;
    }
  }

  &__imgcontainer {
    position: relative;
  }

  &__nums {
    font-size: 25rem;
    position: absolute;
    letter-spacing: -1rem;
    color: black;
    bottom: 25px;
    top: 25%;
    font-weight: bold;
    left: 10px;
    -webkit-text-stroke: 0.8vmin hsl(0, 0%, 100%);
    text-shadow: 1vmin 0 4vmin;
    transform: translate(-18%, 0);
  }
}
