.row {
  margin-top: 4%;

  &__movies {
    display: flex;
    align-items: center;

    overflow-y: hidden;
    overflow-x: scroll;

    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      padding: 5px;
      display: none;
    }
  }

  &__imgcontainer {
    img {
      transition: transform 0.5s;
    }
    img:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 1.5%;

    &--2 {
      margin-bottom: 0.5%;
    }

    //MEdia

    @include media("<=phone") {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
    }
    &__img {
      width: 50px;
      margin-left: 85px;

      @include media("<=phone") {
        width: 30px;
        margin-left: 2px;

        margin: 10px 10px 10px 10px;
      }
    }
  }

  &__textwrapper {
    margin-left: 25px;

    @include media("<=phone") {
      margin-left: 10px;
    }

    h2 {
      letter-spacing: 0.9rem;
      text-transform: uppercase;
      font-size: 3rem;

      @include media("<=phone") {
        letter-spacing: 0.5;
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 0.3rem;
      padding: 2px;
    }
    &--span1 {
      color: red;
      font-size: 1.6rem;
    }
    &--span2 {
      color: rgb(25, 46, 235);
      font-size: 1.6rem;
    }
  }

  &__imgcontainer {
    position: relative;
    scroll-snap-type: block;
    &__img {
      width: 200px;
      margin-left: 100px;
      border-radius: 10%;
      cursor: pointer;

      &--2 {
        width: 210px;
        margin-left: 50px;
        border-radius: 10%;
        cursor: pointer;

        @include media("<=phone") {
          margin-left: 30px;
        }
      }
    }
  }

  &__nums {
    font-size: 25rem;
    position: absolute;
    letter-spacing: -1rem;
    color: black;
    bottom: 25px;
    top: 25%;
    font-weight: bold;
    left: 10px;
    -webkit-text-stroke: 0.8vmin hsl(0, 0%, 100%);
    text-shadow: 1vmin 0 4vmin;
    transform: translate(-18%, 0);
  }
}
