.stats {
  margin-left: 20em;
  max-width: 600px;

  &__title {
    font-size: 2rem;
    width: 150px;
    margin-bottom: 1em;
    border-bottom: 2px solid orangered;
    letter-spacing: 0.3rem;
  }

  &__container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
  }

  &__tomato {
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
    align-items: center;

    img {
      animation: bounce 1s infinite;

      -webkit-animation-duration: 1s;
    }
  }
  &__runtime {
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    letter-spacing: 0.2rem;
    img {
      animation: bounce 1s infinite;

      -webkit-animation-duration: 1s;
    }
  }
  &__voting {
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    img {
      animation: bounce 1s infinite;

      -webkit-animation-duration: 1s;
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-3px);
    }
    60% {
      transform: translateY(-1px);
    }
  }
  h2 {
    margin-top: 0.5em;
  }
  span {
    color: orangered;
  }
}
