.stats {
  margin-left: 20em;
  max-width: 600px;

  @include media("<=tablet") {
    width: 90%;
    margin-left: 8em;
    margin-top: 25em;
  }

  @include media("<=phone") {
    width: 90%;
    margin-left: 1em;
    margin-top: 5em;
  }

  &__title {
    font-size: 1.5rem;
    width: 130px;
    margin-bottom: 1em;
    border-bottom: 2px solid orangered;
    letter-spacing: 0.4rem;
    @include media("<=phone") {
      font-size: 1.2rem;
    }
  }

  &__container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    @include media("<=phone") {
      gap: 5px;
      margin: 3rem 0 3rem 0;
    }
  }

  &__tomato {
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
    align-items: center;

    img {
      height: 80px;
      width: 80px;

      animation: bounce 1s infinite;

      -webkit-animation-duration: 1s;

      @include media("<=phone") {
        height: 35px;
        width: 35px;
      }
    }
  }
  &__runtime {
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    letter-spacing: 0.2rem;
    img {
      height: 80px;
      width: 80px;
      animation: bounce 1s infinite;

      -webkit-animation-duration: 1s;
      @include media("<=phone") {
        height: 35px;
        width: 35px;
      }
    }
  }
  &__voting {
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    img {
      height: 80px;
      width: 80px;
      animation: bounce 1s infinite;

      -webkit-animation-duration: 1s;
      @include media("<=phone") {
        height: 35px;
        width: 35px;
      }
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-3px);
    }
    60% {
      transform: translateY(-1px);
    }
  }
  h2 {
    margin-top: 0.5em;

    @include media("<=phone") {
      font-size: 1.5rem;
    }
  }
  span {
    color: orangered;
  }
}
