.tabsection {
  padding: 50px;
  display: flex;
  flex-flow: column;
  overflow: hidden;

  @include media("<=phone") {
    padding: 10px;
    margin-top: 2rem;
  }

  &__title {
    font-size: 3rem;
    letter-spacing: 0.2em;
    @include media("<=phone") {
      font-size: 2rem;
    }
  }

  &__one {
    &:nth-of-type(2) {
      margin-top: 8rem;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
  }
  &__dates {
    padding: 20px 20px 20px 20px;
    font-size: 2.6rem;
    margin-top: 3rem;
    font-family: "Nunito";

    @include media("<=phone") {
      padding: 10px 5px 10px 5px;
      font-size: 2rem;
    }
  }

  .date {
    height: 80px;
    width: 55px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Nunito";
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    color: black;
    letter-spacing: 0.1em;

    @include media("<=phone") {
      height: 70px;
      width: 45px;
    }

    &--0 {
      background-color: cornflowerblue;
    }
    &--1 {
      background-color: cornflowerblue;
    }
    &--2 {
      background-color: cornflowerblue;
    }
    &--3 {
      background-color: cornflowerblue;
    }
    &--4 {
      background-color: cornflowerblue;
    }
    &--5 {
      background-color: cornflowerblue;
    }
  }

  .day {
    font-size: 1.6rem;
    font-family: "Nunito";
    margin-bottom: 5px;
    letter-spacing: 0.2em;
    @include media("<=phone") {
      font-size: 1.3rem;
    }
  }

  &__button {
    background-color: orangered;
    padding: 8px;
    border-radius: 50px;
    font-size: 1.6rem;
    text-align: center;
    width: 150px;
    margin-top: 50px;
    align-self: center;
    cursor: pointer;

    @include media("<=phone") {
      padding: 5px;
      font-size: 1.2rem;
      width: 100px;
    }
  }
}
