.tabs {
  &__container {
    margin-top: 5%;

    width: 85%;

    @include media("<=phone") {
      width: 95%;
    }
  }

  &__block {
    justify-content: space-around;

    @include media("<=phone") {
      width: 99%;
    }
  }
  &__headings {
    font-size: 2rem;
    font-family: "nunito";
    letter-spacing: 0.3rem;

    @include media("<=phone") {
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
    }
  }

  .tab {
    padding: 20px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    @include media("<=phone") {
      padding: 10px 0 10px 0;
      height: 35px;
    }

    &:not(:last-child) {
      border-right: 1px solid orangered;
      @include media("<=phone") {
        border-right: 0.6px solid orangered;
      }
    }
  }
  .active {
    background-color: #000;
    border-bottom: 1px solid transparent;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2px);
      height: 5px;
      background: orangered;
      @include media("<=phone") {
        height: 2px;
        top: -1px;
      }
    }
  }

  &__content {
    margin-bottom: 10rem;
    .hidden {
      display: none;
    }
    .content {
    }
  }
}
