.timecontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.6rem;

  @include media("<=phone") {
    margin-left: 0.5rem;
  }
  &__time {
    padding: 25px 10px 0px 10px;

    @include media("<=phone") {
      margin-top: 3rem;
      padding: 10px 10px 10px 10px;
    }
  }
  &__times {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.02em;

    &--0 {
      background-color: dodgerblue;
    }
    &--1 {
      background-color: dodgerblue;
    }
    &--2 {
      background-color: dodgerblue;
    }
    &--3 {
      background-color: dodgerblue;
    }
    &--4 {
      background-color: dodgerblue;
    }
  }
}
